 <body class="text-center">
    <%= form_tag do %>
      <img class="mb-4" src="https://getbootstrap.com/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
      <h1 class="h3 mb-3 font-weight-normal">로 그 인</h1>
      <label for="inputEmail" class="sr-only">Your ID</label>
      <%= text_field_tag 'user_id',nil, placeholder:'Your ID', class:'form-control' %>
      <label for="inputPassword" class="sr-only">Your Password</label> 
      <%= password_field_tag 'password',nil, placeholder:'Your Password', class:'form-control' %>
      <div class="checkbox mb-3">
        <label>
          <input type="checkbox" value="remember-me"> Remember me
        </label>
      </div>
      <button class="btn btn-lg btn-primary btn-block" type="submit">LOGIN</button>
    <% end %>
</body>